@{
    ViewData["Title"] = "Mijn Account";
}
@model AccountViewModel
@using Stexchange.Data.Models
<link rel="stylesheet" href="~/css/MyAccount.css" />

@if (TempData["AccountControllerError"] is object || ViewBag.Messages is object)
{
    <form id="errorpopup">
        <div id="errorblock" onload="toggleElements()">
            <h3>ERROR</h3>
            @if (ViewBag.Messages is object)
            {
                foreach (var message in ViewBag.Messages)
                {
                    <p>@message</p>
                }
            }
            else
            {
                <p>@TempData["AccountControllerError"]</p>
            }
            <input type="button" value="OK" onclick="hideForm()" id="errorbutton" />
        </div>
    </form>
}

<form id="confirmDelete" action="DeleteListing" method="post">
    <h4>Advertentie verwijderen</h4>
    <p>Weet je zeker dat je deze advertentie wilt verwijderen?</p>
    <input type="number" name="listingId" hidden/>
    <input type="submit" value="ja"/>
    <input type="button" value="nee" onclick="closeRequestForm('confirmDelete')"/>
</form>

<div id="profileColumn">
    <h4>@Model.User.Username</h4>
    <p>Gemiddelde beoordeling op</p>
    <p id="communication">
        Communicatie
        <span id="communicationReviews">(@Model.User.Rating.CommunicationCount)</span>
        @for (int i = (int)Math.Round(Model.User.Rating.CommunicationAvg); i > 0; i--)
        {
            <label class="stars communicationrating" for="communication">&#9733;</label>
        }
    </p>
    <p id="quality">
        Kwaliteit
        <span id="qualityReviews">(@Model.User.Rating.QualityCount)</span>
        @for (int i = (int)Math.Round(Model.User.Rating.QualityAvg); i > 0; i--)
        {
            <label class="stars qualityrating" for="quality" id="quality">&#9733;</label>
        }
    </p>
    <button onclick="showRequestForm('myadvertisementsColumn', this.id)" id="accountsettingsButton">Mijn aanbiedingen</button>
    <button onclick="showRequestForm('ratingreviewColumn', this.id)" id="ratingreviewButton">Beoordelingsverzoeken</button>
    <button onclick="showRequestForm('mySettingsColumn', this.id)" id="mySettingsButton">Account instellingen</button>
</div>

<div id="myadvertisementsColumn">
    <h3>Mijn aanbiedingen</h3>
    <p><code>@Model.Listings.Count</code> actieve aanbieding(en)</p>
    <!--foreach loop advertisements-->
    @foreach (Listing listing in Model.Listings)
    {
        <div class="advertisementColumn" id="@($"li{listing.Id}")">
            <div class="advertisementInfo">
                @if (listing.Pictures.Count > 0)
                {
                    <img class="picture" src="@listing.Pictures.First().GetImage()" alt="Foto van de plant" />
                }
                <h4 class="title">@listing.Title</h4>
                <p>@listing.CreatedAt</p>
            </div>
            <div class="advertisementOptions">
                <label class="switch">
                    <input type="checkbox" class="toggle" name="toggleActive" value="true" onchange="toggleVisible(@listing.Id)" @(listing.Visible ? "checked" : "")>
                    <span class="slider round"></span>
                </label>
                <input type="button" class="ratingrequestButton" value="RUIL REGISTREREN" onclick="showRequestForm('requestForm', 'accountsettingsButton', '@listing.Id', '@listing.Title')" />
                <!--TODO: linken aan controller action-->
                <input type="button" class="modifyButton" value="WIJZIGEN"/>
                <input type="button" class="deleteButton" value="VERWIJDEREN" onclick="confirmToDelete(@listing.Id)"/>
            </div>
        </div>
    }
</div>

<div id="requestForm">
    <h3>Ruil registreren</h3>
    <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('requestForm')" />
    <form action="RegisterTrade" method="post" id="myrequestForm">
        <p>Advertentie: Mooi plantje voor in de tuin</p>
        <label for="receiver" class="labeltext">Ontvanger</label>
        <select name="username" id="username"></select>
        <label>Aantal geruilde / weggegeven planten</label>
        <input type="number" name="quantity" id="quantity" />
        <input type="number" name="listingId" id="listingId" hidden />
        <input type="button" id="confirmButton" value="BEVESTIGEN" onclick="submitForm('requestForm', 'myrequestForm')" />
    </form>
</div>

<div id="mySettingsColumn">
    <div id="formColumn">
        <h3>Account instellingen</h3>
        <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('mySettingsColumn')" />
        <form>
            <label for="username" class="labeltext">Gebruikersnaam</label>
            <input type="text" name="username" id="username" value="@Model.User.Username" maxlength="15" required/>

            <label for="postcalcode" class="labeltext">Postcode</label>
            <input type="text" name="postalcode" id="postalcode" value="@Model.User.Postal_Code" required/>

            <label for="email" class="labeltext">E-mail</label>
            <input type="text" name="email" id="email" value="@Model.User.Email" required/>

            <label for="password" class="labeltext">Nieuw wachtwoord</label>
            <input type="text" name="password" id="password" />

            <label for="confirm_password" class="labeltext">Bevestig nieuw wachtwoord</label>
            <input type="text" name="confirm_password" id="confirm_password" />

            <!--TODO: link to asp action-->
            <input type="button" id="saveButton" value="Opslaan" onclick="changeSettings()"/>
        </form>
    </div>
</div>

<div id="ratingreviewColumn">
    <h3>Beoordelingsverzoeken</h3>
    <p>@Model.RatingRequests.Count beoordelingsverzoek(en)</p>
    <!--foreach loop rating requests-->
    @foreach (RatingRequest rr in Model.RatingRequests)
    {
        <div class="reviewRequest">
            <div class="reviewInfo">
                <p>@rr.Reviewee.Username</p>
            </div>
            <div class="reviewOptions">
                <input type="button" class="reviewButton" value="BEOORDELING PLAATSEN" />
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/MyAccount.js" asp-append-version="true"></script>