@{
    ViewData["Title"] = "Mijn Account";
}
@model AccountViewModel
@{
    var totalStars = 5;
}
@using Stexchange.Data.Models
<link rel="stylesheet" href="~/css/MyAccount.css" />

@if (TempData["AccountControllerError"] is object)
{
    <form id="errorpopup">
        <div id="errorblock" onload="toggleElements()">
            <h3>ERROR</h3>
            <p>@TempData["AccountControllerError"]</p>
            <input type="button" value="OK" onclick="hideForm()" id="errorbutton" />
        </div>
    </form>
}

<form id="confirmDelete" action="DeleteListing" method="post">
    <h4>Advertentie verwijderen</h4>
    <p>Weet je zeker dat je deze advertentie wilt verwijderen?</p>
    <input type="number" name="listingId" hidden />
    <input type="submit" value="ja" />
    <input type="button" value="nee" onclick="closeRequestForm('confirmDelete')" />
</form>

<div id="profileColumn">
    <h4>@Model.User.Username</h4>
    <p>Gemiddelde beoordeling op</p>
    <p id="communication">
        Communicatie
        <span id="communicationReviews">(@Model.User.Rating.CommunicationCount)</span>
        @for (int i = totalStars - (int)Math.Round(Model.User.Rating.CommunicationAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars communicationrating" for="communication">&#9734;</label>
        }
        @for (int i = (int)Math.Round(Model.User.Rating.CommunicationAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars communicationrating" for="communication">&#9733;</label>
        }
    </p>
    <p id="quality">
        Kwaliteit
        <span id="qualityReviews">(@Model.User.Rating.QualityCount)</span>
        @for (int i = totalStars - (int)Math.Round(Model.User.Rating.QualityAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars qualityrating" for="quality">&#9734;</label>
        }
        @for (int i = (int)Math.Round(Model.User.Rating.QualityAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars qualityrating" for="quality" id="quality">&#9733;</label>
        }
    </p>
    <button onclick="showRequestForm('myadvertisementsColumn', this.id)" id="accountsettingsButton">Mijn aanbiedingen</button>
    <button onclick="showRequestForm('ratingreviewColumn', this.id)" id="ratingreviewButton">Beoordelingsverzoeken</button>
    <button onclick="showRequestForm('mySettingsColumn', this.id)" id="mySettingsButton">Account instellingen</button>
</div>

<div id="myadvertisementsColumn">
    <h3>Mijn aanbiedingen</h3>
    <p><code>@Model.Listings.Count</code> actieve aanbieding(en)</p>
    <!--foreach loop advertisements-->
    @foreach (Listing listing in Model.Listings)
    {
        <div class="advertisementColumn" id="@($"li{listing.Id}")">
            <div class="advertisementInfo">
                @if (listing.Pictures.Count > 0)
                {
                    <img class="picture" src="@listing.Pictures.First().GetImage()" alt="Foto van de plant" />
                }
                <h4 class="title">@listing.Title</h4>
                <p>@listing.CreatedAt</p>
            </div>
            <div class="advertisementOptions">
                <label class="switch">
                    <input type="checkbox" class="toggle" name="toggleActive" value="true" onchange="toggleVisible(@listing.Id)" @(listing.Visible ? "checked" : "")>
                    <span class="slider round"></span>
                </label>
                <input type="button" class="ratingrequestButton" value="RUIL REGISTREREN" onclick="showRequestForm('requestForm', 'accountsettingsButton', '@listing.Id', '@listing.Title')" />
                <!--TODO: linken aan controller action-->
                <input type="button" class="modifyButton" value="WIJZIGEN" onclick="showRequestForm('modifyAdvertismentForm', 'accountsettingsButton');populateModifyForm(@listing.Id);" />
                <input type="button" class="deleteButton" value="VERWIJDEREN" onclick="confirmToDelete(@listing.Id)" />

            </div>
        </div>
    }
</div>

<div id="requestForm">
    <h3>Ruil registreren</h3>
    <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('requestForm')" />
    <form action="RegisterTrade" method="post" id="myrequestForm">
        <p>Advertentie: Mooi plantje voor in de tuin</p>
        <label for="receiver" class="labeltext">Ontvanger</label>
        <select name="username" id="username"></select>
        <label>Aantal geruilde / weggegeven planten</label>
        <input type="number" name="quantity" id="quantity" />
        <input type="number" name="listingId" id="listingId" hidden />
        <input type="button" id="confirmButton" value="BEVESTIGEN" onclick="submitForm('requestForm', 'myrequestForm')" />
    </form>
</div>

<div id="mySettingsColumn">
    <div id="formColumn">
        <h3>Account instellingen</h3>
        <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('mySettingsColumn')" />
        <form>
            <label for="username" class="labeltext">Gebruikersnaam</label>
            <input type="text" name="username" id="username" value="@Model.User.Username" maxlength="15" required />

            <label for="postcalcode" class="labeltext">Postcode</label>
            <input type="text" name="postalcode" id="postalcode" value="@Model.User.Postal_Code" required />

            <label for="email" class="labeltext">E-mail</label>
            <input type="text" name="email" id="email" value="@Model.User.Email" required />

            <label for="password" class="labeltext">Nieuw wachtwoord</label>
            <input type="text" name="password" id="password" />

            <label for="confirm_password" class="labeltext">Bevestig nieuw wachtwoord</label>
            <input type="text" name="confirm_password" id="confirm_password" />

            <!--TODO: link to asp action-->
            <input type="button" id="saveButton" value="Opslaan" onclick="changeSettings()" />
        </form>
    </div>
</div>

<div id="ratingreviewColumn">
    <h3>Beoordelingsverzoeken</h3>
    <p>@Model.RatingRequests.Count beoordelingsverzoek(en)</p>
    <!--foreach loop rating requests-->
    @foreach (RatingRequest rr in Model.RatingRequests)
    {
        <div class="reviewRequest">
            <div class="reviewInfo">
                <h4>@rr.PlantName</h4>
                <p>@rr.Reviewee.Username</p>
            </div>
            <div class="reviewOptions">
                <input type="button" class="reviewButton" value="BEOORDELING PLAATSEN" onclick="showRequestForm('reviewAdvertisementColumn', 'ratingreviewButton'); populateReviewForm(@rr.Id, '@rr.Reviewee.Username', '@rr.PlantName', @rr.RequestQuality.ToString().ToLower())" />
            </div>
        </div>
    }
</div>

<div id="reviewAdvertisementColumn">
    <h3>Beoordeling plaatsen</h3>
    <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('reviewAdvertisementColumn')" />
    <p>Vul de volgende gegevens in om de advertentie van ... te beoordelen.</p>
    <br>
    <p>Naam advertentie: ...</p>
    <p>Naam adverteerder: ...</p>
    <form action="PostReview" method="post" class="reviewform">
        <input name="reviewId" type="number" hidden />
        <div class="qualityrating">
            <p>Kwaliteit</p>
            <div class="stars">
                <input id="quality1" name="quality" type="radio" value="5" />
                <label class="labelinput" for="quality1">&#9733;</label>
                <input id="quality2" name="quality" type="radio" value="4" />
                <label class="labelinput" for="quality2">&#9733;</label>
                <input id="quality3" name="quality" type="radio" value="3" />
                <label class="labelinput" for="quality3">&#9733;</label>
                <input id="quality4" name="quality" type="radio" value="2" />
                <label class="labelinput" for="quality4">&#9733;</label>
                <input id="quality5" name="quality" type="radio" value="1" />
                <label class="labelinput" for="quality5">&#9733;</label>
            </div>
        </div>
        <div class="communicationrating">
            <p>Communicatie</p>
            <div class="stars">
                <input id="communication1" name="communication" type="radio" value="5" />
                <label class="labelinput" for="communication1">&#9733;</label>
                <input id="communication2" name="communication" type="radio" value="4" />
                <label class="labelinput" for="communication2">&#9733;</label>
                <input id="communication3" name="communication" type="radio" value="3" />
                <label class="labelinput" for="communication3">&#9733;</label>
                <input id="communication4" name="communication" type="radio" value="2" />
                <label class="labelinput" for="communication4">&#9733;</label>
                <input id="communication5" name="communication" type="radio" value="1" />
                <label class="labelinput" for="communication5">&#9733;</label>
            </div>
        </div>
        <div>
            <input type="button" class="submit review" id="reviewsubmit" value="Beoordeling plaatsen" onclick="submitReviewForm()" />
        </div>
    </form>
</div>

<form id="confirmDeleteImages">
    <h3>Afbeeldingen verwijderen</h3>
    <p>Weet je zeker dat je de afbeeldingen van deze advertentie permanent wilt verwijderen?</p>
    <input type="number" name="listingId" hidden />
    <input type="button" value="ja" onclick="deleteImages();closeRequestForm('confirmDeleteImages');resetImage()" />
    <input type="button" value="nee" onclick="closeRequestForm('confirmDeleteImages')" />
</form>

<div id="modifyAdvertismentForm">
    <h3>Advertentie wijzigen</h3>
    <input type="button" id="cancelButton" value="X" onclick="closeRequestForm('modifyAdvertismentForm')" />
    <form enctype="multipart/form-data" id="modifyadvertisementForm">
        <input type="number" name="listingId" hidden />
        <div id="imgContainer">
            <img id="imgoutput" />
            <div class="imageslides">
                <a class="previous" onclick="previousImg(1);imageslider()">&#10094;</a>
                <span id="imagecounter"></span>
                <a class="next" onclick="nextImg(1);imageslider()">&#10095;</a>
            </div>
            <input type="file" id="imginput" name="files" onchange="loadFile(event)" accept="image/*" multiple>
            <input type="button" id="removeImagesButton" value="Afbeeldingen verwijderen" onclick="confirmToDeleteImages()" />
        </div>
        <div id="generalinformationContainer">
            <label for="title" class="labeltext">Titel</label>
            <input class="labelinput" name="title" type="text" maxlength="80" required />

            <label for="description" class="labeltext">Beschrijving</label>
            <textarea class="descriptionInput" name="description" maxlength="500" placeholder="Beschrijf in 10-500 karakters je buitenplantje. Bv. reden van weggave, verzorging, welke dieren deze plant aantrekt; bijvriendelijk etc." required></textarea>

            <label for="name_lt" class="labeltext">Latijnse naam</label>
            <input class="labelinput" name="name_lt" type="text" maxlength="50" />

            <label for="name_nl" class="labeltext">Nederlandse naam</label>
            <input class="labelinput" name="name_nl" type="text" maxlength="50" required />

            <label for="quantity" class="labeltext">Aantal</label>
            <input class="labelinput" name="quantity" type="number" min="1" required />
        </div>
        <div id="requiredFiltersContainer">
            <label for="plant_type">Plant eigenschap</label>
            <select name="plant_type" id="plant_type" required>
                <option value="plant_type_null"></option>
                <option value="plant_type_plant">Plant</option>
                <option value="plant_type_zaad">Zaad</option>
                <option value="plant_type_stek">Stek</option>
                <option value="plant_type_bol">Bol</option>
                <option value="plant_type_zaailing">Zaailing</option>
            </select>

            <label for="plant_order">Plantsoort</label>
            <select name="plant_order" id="plant_order" required>
                <option value="plant_order_null"></option>
                <option value="plant_order_boom">Boom</option>
                <option value="plant_order_struik">Struik</option>
                <option value="plant_order_kruidachtig">Kruidachtig</option>
                <option value="plant_order_bodembedekker">Bodembedekker</option>
                <option value="plant_order_klimplant">Klimplant</option>
                <option value="plant_order_waterplant">Waterplant</option>
            </select>

            <label for="light">Licht</label>
            <select name="light" id="light">
                <option value="light_null"></option>
                <option value="light_volle_zon">Volle zon</option>
                <option value="light_halfschaduw">Halfschaduw</option>
                <option value="light_schaduw">Schaduw</option>
            </select>

            <label for="water">Vocht</label>
            <select name="water" id="water">
                <option value="water_null"></option>
                <option value="water_wisselnat">Wisselnat</option>
                <option value="water_nat">Nat</option>
                <option value="water_normaal">Normaal</option>
                <option value="water_droog">Droog</option>
            </select>

            <label for="with_pot">De plant is voorzien van een pot</label>
            <select name="with_pot" id="with_pot" required>
                <option value="with_pot_null"></option>
                <option value="with_pot_ja">Ja</option>
                <option value="with_pot_nee">Nee</option>
            </select>

            <label for="give_away">De plant is gratis weg te geven</label>
            <select name="give_away" id="give_away" required>
                <option value="give_away_null"></option>
                <option value="give_away_ja">Ja</option>
                <option value="give_away_nee">Ruilen</option>
            </select>
        </div>
        <p>Extra filters</p>
        <div id="extrafiltersContainer">
            <label for="nutrients">Voeding</label>
            <select name="nutrients" id="nutrients">
                <option value="nutrients_null">Geen idee</option>
                <option value="nutrients_veel">Veel</option>
                <option value="nutrients_gemiddeld">Gemiddeld</option>
                <option value="nutrients_weinig">Weinig</option>
                <option value="nutrients_nooit">Nooit</option>
            </select>

            <label for="ph">Bodem</label>
            <select name="ph" id="ph">
                <option value="ph_null">Geen idee</option>
                <option value="ph_zuur">Zuur</option>
                <option value="ph_neutraal">Neutraal</option>
                <option value="ph_kalkrijk">Kalkrijk</option>
            </select>

            <label for="indigenous">Inheems</label>
            <select name="indigenous" id="indigenous">
                <option value="indigenous_null">Geen idee</option>
                <option value="indigenous_inheems">Inheems</option>
                <option value="indigenous_niet_inheems">Niet inheems</option>
            </select>
        </div>
        <input type="button" id="advertisementsubmit" value="Advertentie wijzigen" onclick="modifyAd()"/>
    </form>
</div>

<script type="text/javascript" src="~/js/MyAccount.js" asp-append-version="true"></script>