@using Stexchange.Controllers
@{
    ViewData["Title"] = "Advertentie";
    string nietVanToepassing = "N.V.T.";
}
@model DetailAdvertisementModel
@{
    var totalStars = 5;
}
<link rel="stylesheet" href="~/css/DetailAdvertisement.css" />

<h4>@Model.Listing.Title</h4>

<form id="confirmBlock" action="@Url.Action("Block")" method="post">
    <h4>Blokkeer @Model.Listing.OwningUserName</h4>
    <p>Weet je zeker dat je deze gebruiker permanent wilt blokkeren?</p>
    <input type="number" name="listingId" hidden />
    <input type="submit" value="ja" />
    <input type="button" value="nee" onclick="closeBlock('confirmBlock')" />
</form>
    <div class="section-img">
        <img id="imgoutput" src="@Model.Listing.Pictures.First().GetImage()" />
        <a class="next" onclick="imageslider()">&#10095;</a>
    </div>
    <div class="user_information">
        <p>Gebruikersnaam: @Model.Listing.OwningUserName</p>
        @if (!(Model.Listing.Distance == -1))
        {
            <p class="distance">afstand: <code>@Model.Listing.Distance</code> km</p>}
        <p>Gemiddelde beoordeling op communicatie</p>
        @for (int i = (int)Math.Round(Model.Listing.Owner.Rating.CommunicationAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars communicationrating" for="communication">&#9733;</label>
        }
        @for (int i = totalStars - (int)Math.Round(Model.Listing.Owner.Rating.CommunicationAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars communicationrating" for="communication">&#9734;</label>
        }
        <span id="communicationReviews">(@Model.Listing.Owner.Rating.CommunicationCount)</span>
        <p>Gemiddelde beoordeling op kwaliteit</p>
        @for (int i = (int)Math.Round(Model.Listing.Owner.Rating.QualityAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars qualityrating" for="quality" id="quality">&#9733;</label>
        }
        @for (int i = totalStars - (int)Math.Round(Model.Listing.Owner.Rating.QualityAvg, 0, MidpointRounding.AwayFromZero); i > 0; i--)
        {
            <label class="stars qualityrating" for="quality">&#9734;</label>
        }
        <span id="qualityReviews">(@Model.Listing.Owner.Rating.QualityCount)</span>
        @if (Context.Request.Cookies.ContainsKey(StexChangeController.Cookies.SessionToken))
        {
            if (Model.Listing.UserId != Model.UserId && Model.UserId != -1)
            {
                <form id="sendmsg" method="post" action="@Url.Action("NewChat", "Chat", new { listId = Model.Listing.Id })">
                    <input id="typemessage" type="text" name="message" placeholder="Stuur een bericht" />
                    <input type="submit" id="sendmessage" value="Stuur een bericht" />
                </form>
                <input type="button" id="blockUser" value="Blokkeren" onclick="confirmToBlock(@Model.Listing.Id)" />
            }
        }
    </div>
</div>

<div class="tabsection">
    <div class="basic_tab tabs" onclick="switchtab('basic_information', 'basic_tab')">Algemene Informatie</div>
    <div class="filters_tab tabs" onclick="switchtab('filters_information', 'filters_tab')">Verzorging</div>
</div>

<div class="plant_information">
    <div class="basic_information infoblock">
        <p>Nederlandse naam: @Model.Listing.NameNl</p>
        <p>Latijnse naam: @Model.Listing.NameLatin</p>
        <p>Hoeveelheid: @Model.Listing.Quantity</p>
        <p>Beschrijving: @Model.Listing.Description</p>
        <p>Geplaatst op @Model.Listing.CreatedAt</p>
    </div>
    <div class="filters_information infoblock">
        <p>Standplaats: @(Model.Filterlist.TryGetValue("light", out string display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Vocht: @(Model.Filterlist.TryGetValue("water", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Eigenschap: @(Model.Filterlist.TryGetValue("planttype", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Plantsoort: @(Model.Filterlist.TryGetValue("plantorder", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Voeding: @(Model.Filterlist.TryGetValue("nutrients", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Bodem: @(Model.Filterlist.TryGetValue("ph", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Inheems: @(Model.Filterlist.TryGetValue("indigenous", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Voorzien van pot: @(Model.Filterlist.TryGetValue("withpot", out display) && display != "null" ? display : @nietVanToepassing)</p>
        <p>Gratis: @(Model.Filterlist.TryGetValue("giveaway", out display) && display != "null" ? display == "nee" ? "ruilen" : display : @nietVanToepassing)</p>
    </div>
</div>

<script type="text/javascript" asp-append-version="true">
    var imgList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GetImages()));
</script>

<script type="text/javascript" src="~/js/DetailAdvertisement.js" asp-append-version="true"></script>